@charset "utf-8";
/* CSS Document */

body
{
	background: #e9e9e9 url('images/texture_grain_200x200_v2.png');
	font-family: sans-serif;
	font-size: 62.5%;
	line-height: 1.2;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

/*////////////////body/////////////*/

#body {
	z-index: 10001;
	margin-top: 73px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

#body .wrapper {
	padding: 0;
}

.wrapper {
	clear: both;
}

.what-is-linkedin {
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	padding-top: 50px;
	padding-bottom: 50px;
}

.what-is-linkedin .hero-headline {
	font-size: 28px;
	font-weight: bold;
	line-height: 30px;
	color: #000;
	padding-top: 0px;
	padding-bottom: 50px;
	text-align: center;
}

.what-is-linkedin .subhead {
	display: block;
}

.what-is-linkedin .callouts {
	background: url('images/bg_grey_cols_273x3_v1.png') top repeat-y;
	overflow: hidden;
}

ol, ul {
	list-style: none;
}

.what-is-linkedin .callouts .callout-headers {
	overflow: hidden;
}

.what-is-linkedin .callouts .title {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	color: #000;
}

.what-is-linkedin .callouts .callout {
	margin-left: 10px;
	float: left;
	width: 236px;
	padding-left: 10px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: center;
}

.what-is-linkedin .callouts .connect {
	margin-left: 10px;
	float: left;
	margin-left: 92px;
	position: relative;
	width: 236px;
}
.what-is-linkedin .callouts .learn {
	padding-right: 0;
	margin-right: 0;
}

.what-is-linkedin .callouts .summary {
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
padding-left: 20px;
padding-right: 20px;
}




/*presentation*/
.what-is-linkedin .callouts .img {
	background: url('images/icon_optimized_whatislinkedin_icon_sprite_236x750.png') no-repeat;
	width: 236px;
	height: 227px;
}

.what-is-linkedin .callouts .profile-icn {
	background-position: 0 0;
}

.what-is-linkedin .callouts .connect-icn {
	background-position: 0 -250px;
}

.what-is-linkedin .callouts .share-icn {
	background-position: 0 -500px;
}

/*//////join nou button row/////////*/
.what-is-linkedin .join-now {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 0px;
}

.what-is-linkedin .join-now .tagline {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #000;
	padding-left: 0px;
	padding-right: 15px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}
#aaa:hover {
	background-color:#000;
	
}
.what-is-linkedin .join-now .join-btn {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	text-decoration: none !important;
	width: auto;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 0 15px;
	height: 34px;
	line-height: 32px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	color: #333;
	background-color: #f6e312;
	border-color: #e9ac1a;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF6E312', endColorstr='#FFF9C80D');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6e312), color-stop(100%, #f9c80d));
	background-image: -webkit-linear-gradient(top, #f6e312 0%,#f9c80d 100%);
	background-image: -moz-linear-gradient(top, #f6e312 0%,#f9c80d 100%);
	background-image: -o-linear-gradient(top, #f6e312 0%,#f9c80d 100%);
	background-image: linear-gradient(top, #f6e312 0%,#f9c80d 100%);
	white-space: nowrap;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	vertical-align: middle;
}



/*/////////////////footer//////////////////*/
ul#nav-legal {
margin: 0 0 2px;
font-size:12px;
}
#footer .nav-footer li {
font-size: 13px;
}
#footer {
font-size: 13px;
line-height: 14px;
color: #666;
font-weight: normal;
padding-top: 10px;
padding-bottom: 10px;
margin-left: auto;
margin-right: auto;
width: 974px;
margin-top:10px;
border-top: 1px solid #CCC;
}

#body, #footer {
margin-left: auto;
margin-right: auto;
width: 980px;
}

#footer .wrapper {
clear: both;
margin: 0 auto;
width: 984px;
}
#footer .nav-footer {
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
margin-top: -2px;
}

#footer .nav-footer:after {
content: "";
display: table;
clear: both;
}

#footer .wrapper .nav-footer li {
margin-bottom: 3px;
}

#footer .nav-footer>li, #footer #nav-legal>li {
border-right: 1px solid #CCC;
margin-right: 8px;
padding-right: 8px;
margin-top: 5px;
margin-bottom: 5px;
float: left;
}

#footer .nav-footer>li.last, #footer #nav-legal>li.last {
border-right: none;
}

#footer #copyright {
border-right: 1px solid #CCC;
margin-right: 8px;
padding-right: 8px;
margin-top: 5px;
margin-bottom: 5px;
float: left;
}

#footer #copyright.guest span {
float: left;
height: 16px;
width: 62px;
text-indent: -119988px;
overflow: hidden;
text-align: left;
margin-left: 0px;
margin-right: 3px;
padding-left: 0px;
padding-right: 0px;
margin-top: -2px;
margin-bottom: -2px;
background: url('images/logo_linkedin_med_grey_trans_64x16_v1.png') no-repeat scroll top left rgba(0, 0, 0, 0);
}

/*extras*/
hr {
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	border-style: inset;
	border-width: 1px;
}
