<link href="/stylesheets/main-header.css" rel="stylesheet">
<link href="/stylesheets/join.css" rel="stylesheet">
<link href="/stylesheets/step3.css" rel="stylesheet">

<script src="/javascripts/join.js"></script>
<% provide(:title, 'Add Contacts') %>
	


	<div id="header" class="guest">
		<div class="wrapper">
			<div id="nav-primary">
				<div class="wrapper">
					<div class="logo" id="logo-linkedin">
						<img src="/images/logo_linkedin_92x22.png" width="92" height="22" alt="LinkedIn">
					</div>
                    
                    <ul class="menu">
						<li id="nav-primary-auth">
                            Already on LinkedIn? <%= link_to "users/sign_in" %>
					  </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    
    
    <div id="body">
		<div class="wrapper">

			
			<div id="global-error">
				<div class="alert error">
					<p><strong id="global">Import Contacts From </strong></p>
				</div>
			</div>

			<div id="main" class="import-abook-contacts">

				<div class="progress-container">
			        <h1>
			              Grow your network on LinkedIn
			        </h1>
        			

        			<p class="progress">
          				<span class="summary">Step <strong>3</strong> of <strong>3</strong></span>
            			<span class="progress-meter" title="50% Complete"><span class="has-progress" style="width:100%"></span></span>
        			</p>
  				</div>
		    	<div class="leo-module mod-action abook-import" id="module-id2">
        			<div class="header"><h3></h3></div>
      					<div class="content">
						    <p class="introduction">
						      Get started by adding your Contacts From
						    </p>

						    <div id="peopleSearchForm" >
								<a class="newnew" href="/contacts/gmail">Gmail</a>
								<a class="newnew" href="/contacts/yahoo">Yahoo</a>
							</div>
							
						</div>
					</div>
    				
    				<p class="skip">
			            <a id="skipButton" href="/home/index/">
			              Skip this step
			            </a>
			            »
         			</p> 
			</div>
		</div>
	</div>
	
    <div id="footer">
 		<div class="wrapper">
 			<div id="legal">
 				<p id="copyright">LinkedIn Corporation &copy; 2013</p>
 				<p id="terms-of-use">
				 Commercial use of this site without express authorization is prohibited.
 				</p>
 			</div>
 		</div>
	</div>