
<link href="/stylesheets/main-header.css" rel="stylesheet">
<link href="/stylesheets/whatislinkedin.css" rel="stylesheet">


<% provide(:title, 'What is LinkedIn?') %>

	<div id="header" class="global-header responsive-header nav-v5-2-header responsive-1" role="banner">
		<div id="top-header">
			<div class="wrapper">
				<h2 class="logo-container">
					<a  href="/users/sign_up" class="logo" id="li-logo">LinkedIn Home</a>
				</h2>
  
				<ul class="nav main-nav guest-nav" role="navigation">
					<li class="nav-item">
					    <a href="/home/whatislinkedin" class="nav-link">
					      What is LinkedIn?
					    </a>
					</li>
					<li class="nav-item">
					    <a href="/register" class="nav-link" rel="nofollow">
					      Join Today
					    </a>
					</li>
					<li class="nav-item">
						 <a href="/users/sign_in" class="nav-link" rel="nofollow">
						 Sign In
						 </a>
					</li>
				</ul>
			</div>
		</div>
        <div class="a11y-content">
			<a name="a11y-content" tabindex="0" id="a11y-content-link">Main content starts below.</a>
		</div>
	</div>
	
 
	<hr>


	<div id="body" class="" role="main">
		<div class="wrapper hp-nus-wrapper">
			
			<div id="global-error">
			</div>
			
			<div class="what-is-linkedin">
				<div class="row">
					<h1 class="headline hero-headline">The world's largest professional network:<span class="subhead">225 million strong.</span></h1>
				</div>
				
				<div class="callouts">
					<ul class="callout-headers">
						
						<li class="callout connect">
						<h2 class="title">Connect. Find. Be found.</h2>
						</li>
						
						<li class="callout power">
							<h2 class="title">Power your career.</h2>
						</li>
						
						<li class="callout learn">
							<h2 class="title">Learn and share.</h2>
						</li>
					</ul>
					
					<ul>
						<li class="callout connect">
							<div role="presentation" class="img profile-icn"></div>
							<p class="summary">Build your professional identity online and stay in touch with colleagues and classmates.</p>
						</li>
						
						<li class="callout power">
							<div role="presentation" class="img connect-icn"></div>
							<p class="summary">Discover professional opportunities, business deals, and new ventures.</p>
						</li>
						
						<li class="callout learn">
							<div role="presentation" class="img share-icn"></div>
							<p class="summary">Get the latest news, inspiration, and insights you need to be great at what you do.</p>
						</li>
					</ul>
				</div>
			
				<div class="row">
					<div class="join-now">
						<p class="tagline">
							It's free.
						</p>
						<a href="/register" class="join-btn" id="aaa">Join now</a>
					</div>
				</div>
			</div>     
		</div>
	</div>
 
	<div id="footer">
		<div class="wrapper">
			<ul class="nav-footer">
				<li><a href="/home/default" target="_blank" rel="nofollow" class="cust-svc-link"><strong><b>Help Center</b></strong></a></li>
				<li><a href="/home/default" >About</a></li>
				<li><a href="/home/default" target="_blank">Press</a></li>
				<li><a href="/home/default" target="_blank">Blog</a></li>
				<li><a href="/home/default" >Careers</a></li>
				<li><a href="/home/default" >Advertising</a></li>
				<li><a href="/home/default" target="_blank">Talent Solutions</a></li>
				<li><a href="/home/default" >Tools</a></li>
				<li><a href="/home/default">Mobile</a></li>
				<li><a href="/home/default" target="_blank">Developers</a></li>
				<li><a href="/home/default" >Publishers</a></li>
				<li><a href="/home/default" >Language</a></li>
				<li class="last"><a href="/home/default" target="_blank">SlideShare</a></li>
			</ul>
			
			<ul class="nav-footer">
				<li><a href="/home/default" >LinkedIn Updates</a></li>
				<li><a href="/home/default" >LinkedIn Influencers</a></li>
				<li><a href="/home/default" >LinkedIn Jobs</a></li>
				<li><a href="/home/default" >Jobs Directory</a></li>
				<li><a href="/home/default" >Company Directory</a></li>
				<li><a href="/home/default" >Groups Directory</a></li>
				<li class="last"><a href="/home/default" >Title Directory</a></li>
			</ul>
			
			
			<p id="copyright" class="guest"><span>LinkedIn Corporation</span><em>&copy; 2013</em></p>
				
			<ul id="nav-legal">
            	<li><a href="/home/agreement" >User Agreement</a></li>
				<li><a href="/home/default" >Privacy Policy</a></li>
				<li><a href="/home/default" target="_blank" rel="nofollow">Community Guidelines</a></li>
				<li><a href="/home/default" >Cookie Policy</a></li>
				<li class="last"><a href="/home/default" >Copyright Policy</a></li>
			</ul>
		</div>
	</div>