*{
	margin: 0;
	padding: 0;
}

header, footer, section, aside, hgroup, nav, ul, div{
	display: block;
}

body{
	overflow: scroll;
	font-family: arial;
	font-style: normal;
	background: #e9e9e9;
	font-size: 62.5%;
	line-height: 1.2;
	color: #000;
}

a{
	color: #069;
	text-decoration:none;
}

ol, ul{
	list-style: none;
	display: block;
}

img{
	border: none;
}

#header_wrapper{
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3f3f3f));
	background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	box-shadow: 0 0 10px #333;
	font-size: 13px;
	line-height: 17px;
	color: #333;
	font-weight: normal;
	height: 42px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}

#the_header{
	margin-left: auto;
	margin-right: auto;
	width: 974px;
	position: relative;
	clear: both;
}

div#left_child{
	width: auto;
	display: inline-table;
}

div#left_child h1{
	display: inline-block;
}

div#left_child a.home{
	background: url('../img/nav_logo.png') left center no-repeat;
	margin-right: 5px;
	margin-top: 3px;
	display: block;
	height: 36px;
	width: 44px;
	position: relative;
	left: -1px;
	float: left;
}

#search_form{
	float: right;
	margin-left: 156px;
}

#search_bar{
	padding-top: 7px;
	padding-bottom: 6px;
	position: relative;
	display: inline-table;
}

#type_background{
	background-image: -webkit-linear-gradient(top, #888888 0%,#888888 4%,#575757 100%);
	background-image: -moz-linear-gradient(top, #888888 0%,#888888 4%,#575757 100%);
	border-radius: 2px 0 0 2px;
	display: inline-block;
}

.styled_dropdown{
	background-image: url('../img/icons.png');
	background-repeat: no-repeat;
	background-position: 0 -796px;
	padding-left: 30px;
	padding-right: 0px;
	height: 27px;
	width: 12px;
	display: inline-block;
	cursor: pointer;
}

.styled_dropdown:before{
	display: none;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 0;
	width: 0;
	border-style: dashed;
	border-color: transparent;
	border-width: 4px 4px 0;
	border-top-color: #ccc;
	border-top-style: solid;
	content: "";
	float: left;
}

.styled_dropdown:after{
	display: inline-block;
	vertical-align: middle;
	margin-left: -2px;
	margin-right: 0px;
	margin-top: 12px;
	margin-bottom: 10px;
	height: 0;
	width: 0;
	border-style: dashed;
	border-color: transparent;
	border-width: 4px 4px 0;
	border-top-color: #999;
	border-top-style: solid;
	content: "";
	float: left;
}

#search_type{
	float: left;
}

#search_category{
	position: absolute !important;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

#search_selector{
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	height: 0;
	line-height: 0;
	min-width: 90px;
	position: fixed !important;
	top: 40px !important;
	list-style: none;
	border: none;
}

.open{
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	height: auto;
	line-height: 1;
	overflow: visible;
}

#search_selector li{
	background-color: #2f2f2f;;
	position: relative;
	cursor: pointer;
	background-image: url('../img/icons.png');
	background-repeat: no-repeat;
	background-position: 3px -822px;
}

#search_selector li:hover{
	background-color: #3c3c3c;
}

#search_box{
	display: inline-block;
	position: relative;
	width: 345px;
	border-radius: 0 2px 2px 0;
	background: #fff;
	height: 26px;
	color: #333;
	vertical-align: top;
}

#search_keywords{
	width: 314px;
	border-radius: 0 2px 2px 0;
	padding-left: 5px;
	padding-right: 26px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	margin: 0;
	font-size: 13px;
	line-height: 17px;
	color: #333;
	font-weight: normal;
}

.search_bar_button{
	border: 1px solid #1b5480;
	cursor: pointer;
	border-radius: 3px;
	padding: 0 13px;
	background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
	margin-top: 1px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 3px;
	padding-right: 3px;
	height: 27px;
	width: 50px;
}

.search_bar_button:hover{
	background-image: -webkit-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
	background-image: -moz-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
}

.search_bar_button span{
	margin-left: 13px;
	margin-right: 13px;
	display: inline-block;
	background: url('../img/icons.png');
	background-repeat: no-repeat;
	background-position: -5px -659px;
	height: 25px;
	width: 16px;
}

#advance_search{
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
}

#advance_search a{
	color: #D7D7D7;
	font-size: 11px;
}

#advance_search a:hover{
	color: #2E8DD7;
}

#right_child{
	float: right;
	width: auto;
	display: inline-table;
}

#notifications_area{
	margin-right: -5px;
	height: 42px;
	float: right;
	list-style: none;
	vertical-align: baseline;
}

.notification_item{
	position: static;
	float: left;
	font-size: 13px;
}

.notification_item>a{
	background: url('../img/icons.png');
	width: 20px;
	background-repeat: no-repeat;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 23px;
	display: block;
	text-align: center;
}

.notification_item>a:hover{
	background-color: #252525;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

p#invitations_count{
	margin-left: 2px;
	margin-top: 0px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: red;
	border-radius: 2px;
	font-weight: bold;
	color: #fff;
	font-size: 10px;
	display: inline-block;
}

li#messages a{
	background-position: 4px 12px;
}

li#notifications a{
	background-position: center -30px;
}

li#add_connections a{
	background-position: center -114px;
}

li#profile_actions{
	display: inline-block;
	position: static;
	float: left;
}

li#profile_actions>a{
	width: 20px;
	margin-left: 5px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
}

li#profile_actions>a:hover{
	background-color: #252525;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

li#profile_actions img{
	height: 20px;
	width: 20px;
}

div.activity_container{
	left: auto;
	right: -5px;
	top: 100%;
	position: absolute;
	margin-top: -2px;
}

div.activity_drop{
	background: #fff;
	border: 5px solid #333;
}

div#invitations_header{
	position: relative;
	background: #2f2f2f;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	line-height: 13px;
}

div#invitations_header>h3{
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	line-height: 15px;
}

div#invitations_container{
	max-height: 550px;
	height: auto;
	position: relative;
}

ol#invitations{
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 334px;
}

li.invitations_item{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 68px;
	height: auto;
	border-bottom: 1px solid #ddd;
	width: 300px;
	cursor: pointer;
	margin-right: 1px;
}

li.invitations_item:hover{
	background-color: #ebeced;
	border-top: 1px solid #fff;
	padding-top: 9px;
}

li.invitations_item img{
	float: left;
	display: block;
	padding: 2px;
}

div.about_sender{
	margin-left: 60px;
}

div.about_sender a{
	font-size: 13px;
	line-height: 17px;
	color: #333;
	font-weight: normal;
}

a.accept{
	background-color: #2672ae;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	text-decoration: none;
	width: auto;
	text-shadow: 0 1px 1px rgba(0,0,0,0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 0 10px;
	height: 26px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	border-color: #1b5480;
	display: inline-block;
	margin: 6px 5px 0 16px;
}

a.accept:hover{
	background-color: #1e4f7e;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

a.reject{
	background-color: #e8e8e8;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin-left: 10px;
	width: auto;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	border-radius: 3px;
	padding: 6px 12px;
	height: 26px;
	line-height: 24px;
	font-size: 12px;
	color: #444;
	border-color: #a7a7a7;
	vertical-align: middle;
}

a.reject:hover{
	background-color: #d8d8d8;
}

div#account_nav{
	height: auto;
	line-height: 1;
	position: absolute;
	right: -5px;
	top: 100%;
	margin-top: -2px;
}

div#account_nav_options{
	border: 5px solid #2f2f2f;
	width: 318px;
	background: #fff;
}

div#account_nav_header{
	background: #2f2f2f;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	line-height: 13px;
}

div#account_nav_header h3{
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	margin-bottom: 0;
	color: #fff;
}

span#arrow{
	background: url('../img/icons.png') no-repeat -10px -868px;
	position: absolute;
	width: 8px;
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

div#account_nav_body{
	display: inline-block;
}

ul#account_settings{
	position: relative;
	width: 318px;
}

ul#account_settings>li{
	display: table;
	float: left;
}

.account_settings_link{
	display: block;
	min-height: 34px;
	border-bottom: 1px solid #dcddde;
}

.account_settings_link:hover{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #ebebed;
	cursor: pointer;
}

span.act_row{
	padding-top: 5px;
	padding-bottom: 5px;
	display: table-cell;
	vertical-align: middle;
	width: 328px;
}

span.act_icon{
	display: table-cell;
	vertical-align: middle;
	width: 30px;
	height: 24px;
}

span#pic{
	padding-left: 10px;
}

span.act_name{
	font-size: 13px;
	line-height: 17px;
	color: #333;
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	width: 180px;
	padding-left: 10px;
}

span#name{
	padding-left: 0;
}

span.act_name>a{
	color: #000;
}

span.act_action{
	color: #0077b5;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	width: 88px;
}

span.back_icons{
	background: url('../img/icons.png') no-repeat;
	display: block;
	width: 32px;
	height: 20px;
}

span#signout{
	padding-left: 2px;
}

span#upgrade{
	background-position: 5px -407px;
}

span#job{
	background-position: 10px -591px;
}

span#language{
	background-position: 5px -443px;
}

span#settings{
	background-position: 5px -477px;
}

span#help{
	background-position: 5px -513px;
}

#main_nav_wrapper{
	background-image: -webkit-linear-gradient(top, #1a1a1a 0%,#303030 100%);
	background-image: -moz-linear-gradient(top, #1a1a1a 0%,#303030 100%);
	width: auto;
	margin-top: 42px;
}

#main_nav{
	margin-left: auto;
	margin-right: auto;
	width: 974px;
	display: table;
}

.nav_item{
	margin-right: 40px;
	padding-bottom: 2px;
	line-height: 13px;
	display: list-item;
	position: relative;
	float: left;
}

.nav_item a{
	padding-top: 9px;
	padding-bottom: 7px;
	cursor: pointer;
	color: #D7D7D7;
	display: list-item;
	font-size: 13px;
}

.nav_item a:hover{
	color: #2e8dd7;
}

ul.sub_nav{
	height: auto;
	line-height: 1;
	width: auto;
	top: 100%;
	left: -10px;
	box-shadow: 0 0 10px #333;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #2f2f2f;
	position: absolute;
	z-index: 1000;
}

ul.sub_nav a{
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	display: block;
	white-space: nowrap;
	background-color: transparent;
}

ul.sub_nav a:hover{
	color: #2e8dd7;
}

ul#business_nav{
	float: right;
}

#last{
	margin-right: 0;
}

#BodyWrapper{
	width: 974px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 55px;
	position: relative;
	background-color: #fff;
}

#MainBody {
	background-color: #fff;
	position: relative;
	display: inline-block;
}

#Search {
	position: absolute;
	background-color: #fff;
}

#Search h2{
	background: #333;
	color: #fff;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
	padding: 7.5px 20px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	padding-left: 26px;
	padding-right: 26px;
}

#facets-col {
	float: left;
	width: 195px;
	position: relative;
	margin-top: 35px;
	background-color: #fff;
}

#advs {
	opacity: 1;
	display: block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: static;
	width: 195px;
	padding-bottom: 80px;
	background-color: #f8f8f8;
}

#peopleSearchForm {
	margin-top: 31px;
	border-top: 1px solid #c0c0c0;
}

#peopleSearchForm li {
	margin-top: 15px;
}

#peopleSearchForm label {
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #333;
	font-weight: normal;
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 20px;
}

#peopleSearchForm input[type="text"] {
	margin-left: 15px;
	background: #fdfdfd;
	vertical-align: middle;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 6px 4px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	border: 1px solid #c1c1c1;
	font-size: 13px;
	line-height: 13px;
	color: #333;
	width: 152px;
}

#peopleSearchForm select {
	width: 167px;
	margin-left: 15px;
}

.form-controls {
	float: left;
	clear: left;
	width: 200px;
	margin-left: 15px;
	margin-top: 15px;
}

#advs input[type="submit"] {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	text-decoration: none !important;
	width: auto;
	text-shadow: 0 1px 1px rgba(0,0,0,0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
	height: 26px;
	line-height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	color: #fff;
	background-color: #287bbc;
	border-color: #1b5480;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #287bbc), color-stop(100%, #23639a));
	background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -o-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: linear-gradient(top, #287bbc 0%,#23639a 100%);
	white-space: nowrap;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	vertical-align: middle;
	margin-left: 56px;
}

#advs input[type="submit"]:hover {
	background-color: #2672ae;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2672ae), color-stop(100%, #1e4f7e));
	background-image: -webkit-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
	background-image: -moz-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
	background-image: -o-linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
	background-image: linear-gradient(top, #2672ae 0%,#1e4f7e 100%);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

#advs .postalCode input[type="text"] {
	width: 85px;
}

#advs .text-button:hover {
	text-decoration: underline;
}

#advs .text-button {
	font-size: 12px;
	line-height: 14px;
	color: #333;
	font-weight: normal;
	border: none;
	background: none;
	color: #7A7A7A;
}

button, input, textarea {
	font-family: Arial,sans-serif;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

#results_col {
	margin-left: 10px;
	float: left;
	width: 500px;
}


#results_count {
	position: relative;
}

#results_count p {
	font-size: 12px;
	line-height: 14px;
	color: #333;
	font-weight: normal;
	color: #191919;
	margin-top: 12px;
}

#FindPeople {
	margin-top: 25px;
	margin-left: 100px;
	font-size: 18px;
	font-weight: bold;
	color: #191919;
}

#FindPeople p {
	color: green;
	font-size: 12px;
	font-weight: normal;
}
.occupation{
	line-height: 17px;
	color: #333;
	font-weight: normal;
	font-size: 12px;
}

.demo{
	color: #a9a9a9;
	font-size: 12px;
	margin-top: -2px;
}

.separator{
	background: url('../img/icons.png') no-repeat -3px -236px;
	margin-left: 3px;
	padding-left: 8px;
}

dd{
	display: inline-block;
}

#results{
	position: relative;
	margin-top: 15px;
}

#details{
	margin-left: 68px;
	width: 65%;
	word-wrap: break-word;
}

#details h3{
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	margin-top: -1px;
}

.result{
	position: relative;
	min-height: 60px;
	height: auto;
	width: 525px;
	padding: 13px 0 9px 0;
	background-image: -webkit-linear-gradient(left, #ededed 0%,#d3d3d3 50%,#ededed 100%);
	background-image: -moz-linear-gradient(left, #ededed 0%,#d3d3d3 50%,#ededed 100%);
	border: 0 solid transparent;
	border-bottom-width: 1px;
	box-shadow: inset 0 0 0 #fff,0 0 0 #fff,inset -9999px 0 0 #fff;
}

.result:hover{
	background-image: -webkit-linear-gradient(left, #ededed 0%,#d3d3d3 50%,#ededed 100%);
	background-image: -moz-linear-gradient(left, #ededed 0%,#d3d3d3 50%,#ededed 100%);
	box-shadow: inset 0 0 0 #f4f4f4,0 0 0 #f4f4f4,inset -9999px 0 0 #f4f4f4;
	background-origin: border-box;
	border: 0 solid transparent;
	border-bottom-width: 1px;
}

.result img{
	float: left;
	width: 60px;
	height: 60px;
}

.action_button{
	margin-top: -35px;
	position: absolute;
	right: 0;
}

.connect{
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,0.35);
	padding: 0 7px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
	background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
}

.action_button input[type="submit"]:hover{
	text-decoration: underline;
}

#Error {
	color: #900;
	margin-left: 50px;
	font-weight: bold;
	font-size: 18px;
}

#footer{
	clear: both;
	padding-top: 2px;
	padding-bottom: 10px;
	width: 976px;
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
}

#footer_wrapper ul[id="footer_nav"] li{
	display: inline;
	margin-bottom: 4px;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	margin-top: 5px;
	padding-right: 8px;
	float: left;
}

#footer_wrapper ul li[id="last"]{
	border: 0;
}

#footer_wrapper ul[id="conditions"]{
	display: inline;
	margin-top: -1;
}

#copyright{
	background: url('../img/footerlogosignin.png') no-repeat scroll top left transparent;
	clear: both;
	float: left;
	display: inline;
	width: 105px;
	height: 16px;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 3px;
}

#copy_text{
	clear: both;
	padding-left: 65px;
	font-size: 12px;
	color: #666;
	margin-top: 1px;
}

#conditions li{
	float: left;
	border-right: 1px solid #ccc;
	margin-right: 8px;
	font-size: 12px;
	padding-right: 8px;
	margin-top: 4px;
}

.bottom{
	padding-bottom: 15px;
}


#profile_pic{
	width: 40px;
	height: 40px;
}

.newnew {
background-color: #2672AE;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
font-weight: bold;
border-width: 1px;
border-style: solid;
cursor: pointer;
text-decoration: none;
width: 100px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
padding: 10px 0 0px 40px;
height: 30px;
font-size: 18px;
color: white;
border-color: #1B5480;
display: block;
margin: 20px 0 0px 25px;
}