/*///////////////body//////*/



body
{
	font-family: sans-serif;
	font-size: 62.5%;
	line-height: 1.2;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	overflow-y:scroll;
}


#body, .primary, .wrapper {
clear: both;
}
#body, #footer {
margin-left: auto;
margin-right: auto;
width: 980px;
}
#body {
margin-top: 50px;
margin-bottom: 10px;
}

#body .wrapper {
padding: 0 10px;
}
.request-password-reset {
font-size: 13px;
}

.request-password-reset h1 {
	font-size: 18px;
	margin-bottom: 15px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
}
.request-password-reset p {
margin: 10px 0;
}
.request-password-reset .error {
display: block;
font-size: 12px;
margin: 0 0 2px;
}

span.error {
font-weight: bold;
color: #900;
}


.request-password-reset .fieldgroup input {
vertical-align: top;
width: 300px;
}

.btn-primary, .btn-new-primary, .btn-secondary, .btn-new-secondary, .btn-tertiary, .btn-ternary, .btn-quaternary, .btn-action {
border-width: 1px;
border-style: solid;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
font-size: 12px;
line-height: 1.35;
margin: 0;
overflow: visible;
padding: 3px 10px 2px;
text-decoration: none !important;
vertical-align: top;
width: auto;
}



/*///////////////footer//////*/

#footer {
	font-size: 12px;
	line-height: 14px;
	color: #666;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 974px;
	border-top: 1px solid #ccc;
}

#body, .primary, .wrapper {
	clear: both;
}


#footer #copyright {
	border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

#footer #copyright.guest span {
	float: left;
	height: 16px;
	width: 62px;
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	margin-left: 0px;
	margin-right: 3px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: -2px;
	margin-bottom: -2px;
	background: url('images/logo_linkedin_med_grey_trans_64x16_v1.png') no-repeat scroll top left transparent;
}

ol, ul {
	list-style: none;
}

#footer .nav-footer>li, #footer #nav-legal>li {
	border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

#footer .nav-footer>li.last, #footer #nav-legal>li.last {
	border-right: none;
}





/*extras*/
.a11y-skip-nav-container {
position: relative;
}
.global-nav .a11y-skip-nav.a11y-hidden, .a11y-skip-nav-container .a11y-skip-nav.a11y-hidden {
position: absolute !important;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
}
.global-nav .a11y-skip-nav, .a11y-skip-nav-container .a11y-skip-nav {
background-repeat: no-repeat;
background-color: #0073B2;
background-position: 50% 50%;
position: relative;
z-index: 10012;
font-size: 12px;
line-height: 14px;
color: #fff;
font-weight: normal;
-webkit-transition: max-height 0.7s linear;
-moz-transition: max-height 0.7s linear;
-o-transition: max-height 0.7s linear;
transition: max-height 0.7s linear;
max-height: 400px;
height: auto;
_height: 400px;
}
.global-nav #a11y-skip-nav-link, .a11y-skip-nav-container #a11y-skip-nav-link {
text-indent: -119988px;
overflow: hidden;
text-align: left;
position: absolute !important;
height: 1px;
width: 1px;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
float: left;
}

.join-btn : hover{
	color:#309;
}