<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %> | LinkedIn</title>
		<link rel="icon" href="/images/favicon.ico" />
		<script src="/javascripts/jquery.min.js"></script>
	</head>

    <body id="callout-overlay" class="en guest v2 ghome chrome-v5 chrome-v5-responsive background-v4 sticky-bg guest js ">
		<%= yield %>
	</body>

</html>